.App {
  background-color: #020202;
}
.App__body {
  position: relative;
  z-index: 100;
  height: 100vh;
  top: 0px;
  padding: 1rem;
}
.App__body-left {
  padding: 10px;
  height: 100%;
  width: 100%;
}
.App__body-right {
  width: 27%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  height: 100%;
}
